body{
    display: flex;
    justify-content: center;
    background-image: url("img/map.jpg");
    background-position: center;
}


.vse{
    display: flex;
    background: beige;

    width: 500px;
    height: 500px;
}
.pole{
    width: 1050px;
    height: 710px;
    background-image: url("img/pda.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.kpk {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 200px;
}


.kart{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 110px;
    margin-top: 70px;
}
.ostalnoe{
    width: 100%;
    height: 100%;
    font-size: 40px;
}

#knopka {
    border-radius: 15px;
    border: 5px solid darkgrey;
    background-image: url("img/met.jpg");
    width: 500px;
    height: 150px;
    font-size: 34px;
    color: #181717;
}

.txt {
    width: 750px;
    height: 330px;
    margin-left: 130px;
    color: #8a8a8a;
    font-size: 40px;
}